{% extends 'base.html.twig' %}

{% block title %}Booking Timeline!{% endblock %}

{% block body %}
    <div class="container">
        <div class="table">
            <h2>Booking Timeline</h2>
            <br><br>
            {% for date, bookingData in timeline %}
                <h4>{{ date }}</h4>
                <hr>
                {% for station, equipments in bookingData %}
                    <h6 class="h6">{{ station }}</h6>
                    <table class="table-primary table-hover">
                        <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Available</th>
                            <th scope="col">Booked</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for equipment in equipments %}
                            <tr>
                                <td>{{ equipment.name }}</td>
                                <td>{{ equipment.available }}</td>
                                <td>{{ equipment.booked }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <br>
                {% endfor %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
